/* .box{
    height: 500px;
    width: 100%;
    max-width: 800px;
    background-color: rgb(238, 234, 234);
    box-shadow: 0 0 0 0.5px rgb(208, 204, 204);
}

.head{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    height: 40px;
    max-width: 800px;
    background-color: rgb(238, 234, 234);
    box-shadow: 0 0 0 0.5px rgb(208, 204, 204);
    
}

.dental{
    
    align-items: center; 
    justify-content: center;  
    padding:2%;
    
}
    
.listcust{
   
    padding-left: 20px;
   
    /* position: relative; */
/*     
  }

.arrow{
    padding: 50px 30px;
   
}

.name{
    padding-right: px;
} */
 




/* .box{
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 254, 254);
    position: relative;
    display: flex;
 

    box-shadow: 0 0 0 0.5px rgb(208, 204, 204);
}

.head{
    padding:20px;

}

.profile-pic{
    border-radius: 50%;
}

.name{
    padding-left:50px ;
    padding-top: 2%;
}


.mini-box1{
    background-color: aliceblue;
    box-shadow: 0 0 0 0.5px rgb(208, 204, 204);

} */


.main-box{
    background-color: antiquewhite;
    height: 100vh;
    width: 100%;
    box-shadow: 0 0 0 0.5px rgb(208, 204, 204);
}

.head-box{
    border: 1px solid black;
    height: 100px;
    width: 600px;

}

.boxes{
    display: flex;
    border: 1px solid black;
    width: 600px;
    height: 400px;
}





.profile-pic{
    margin-top: 30px;
    margin-left: 20px;
   
}

.name{
    margin-left: 60px;
    margin-top: -35px;
  
}

.btn{
    margin-left: 190px;
    margin-top: -18px;

}

.logo{
    margin-left: 60px;
    margin-top: -3px;
    
}

.subname{
    margin-left: 75px;
    margin-top: -17px;
    font-size: 11px;
}


.box1 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 380px; 
    width: 290px; 
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px; 
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* padding: 15px; */
}

.main {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'Inter',sans-serif,;
   
}

.info-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
    margin-top: 20px;
    margin-left: 20px;

}

.icon {
    font-size: 20px;
    color: #555;
    margin-top: -23px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap:2px;
}

.label {
    font-size: 12px;
    color: gray;
  
}

.value {
    font-size: 14px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.social-icon {
    font-size: 20px;
    color: #555;
    cursor: pointer;
}
.box2{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 380px; 
    width: 290px; 
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px; 
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.main2{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'Inter',sans-serif,;

}


.sub12{
    padding: 2px;
}

.box11{
    border: 1px solid balck;

}

.box12{

}

.box13{

}



